.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  overflow: auto;
  margin: 0 auto;
  border: 1px solid #ccc;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

li {
  margin-bottom: 0.5rem;
}

.left, .right {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

h2 {
  text-align: center;
  color: #186b56;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #44bd9f;
  color: white;
  font-weight: bold;
}

/* Style for input elements */
input[type='text'],
input[type='number'],
input[type= 'date'] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  margin: 10px auto;
}

/* Style for buttons */
button {
  padding: 10px 20px;
  background-color: #186b56;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

button:hover {
  background-color: #186b56;
}

.deleteButton {
  text-align: center;
}
#yesBtn, #noBtn {
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
}

#yesBtn:hover {
  color: green;
}

#noBtn:hover {
  color: red;
}

i {
  margin: 5px 7px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

#yesBtn:hover {
  color: red;
}

#noBtn:hover {
  color: green;
}